<%= form_for(@approval) do |f| %>
  <% if @approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
      <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :ecn_id %><br />
    <%= f.text_field :ecn_id %>
  </div>
  <div class="field">
    <%= f.label :approval_timestamp %><br />
    <%= f.datetime_select :approval_timestamp %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :pos_id %><br />
    <%= f.text_field :pos_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
