<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ecndocument.title %>
</p>

<p>
  <b>Customer name:</b>
  <%= @ecndocument.customer_name %>
</p>

<p>
  <b>Th part no:</b>
  <%= @ecndocument.th_part_no %>
</p>

<p>
  <b>Ref spec:</b>
  <%= @ecndocument.ref_spec %>
</p>

<p>
  <b>Extension:</b>
  <%= @ecndocument.extension %>
</p>

<p>
  <b>Description to:</b>
  <%= @ecndocument.description_to %>
</p>

<p>
  <b>Description from:</b>
  <%= @ecndocument.description_from %>
</p>

<p>
  <b>Reason:</b>
  <%= @ecndocument.reason %>
</p>

<p>
  <b>Revision1:</b>
  <%= @ecndocument.revision1 %>
</p>

<p>
  <b>Action:</b>
  <%= @ecndocument.action %>
</p>

<p>
  <b>Effectivity from:</b>
  <%= @ecndocument.effectivity_from %>
</p>

<p>
  <b>Effectivity to:</b>
  <%= @ecndocument.effectivity_to %>
</p>

<p>
  <b>User:</b>
  <%= @ecndocument.user_id %>
</p>

<p>
  <b>Ecn doc:</b>
  <%= @ecndocument.ecn_doc %>
</p>

<p>
  <b>Revision2:</b>
  <%= @ecndocument.revision2 %>
</p>

<p>
  <b>User designation:</b>
  <%= @ecndocument.user_designation %>
</p>

<p>
  <b>Closed timestamps:</b>
  <%= @ecndocument.closed_timestamp %>
</p>

<p>
  <b>Obsoletion:</b>
  <%= @ecndocument.obsoletion %>
</p>


<%= link_to 'Edit', edit_ecndocument_path(@ecndocument) %> |
<%= link_to 'Back', ecndocuments_path %>
