<%= form_for(@customer_info) do |f| %>
  <% if @customer_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_info.errors.count, "error") %> prohibited this customer_info from being saved:</h2>

      <ul>
      <% @customer_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cust_id %><br />
    <%= f.text_field :cust_id %>
  </div>
  <div class="field">
    <%= f.label :th_pn %><br />
    <%= f.text_field :th_pn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
