<div style="float:left;width:100%">
<div style="width:130px;float:left"><img src="/images/thlogo.gif"></div>
<div style="width:49%;float:left;"><br><br><p class="banner">TONG HSING ELECTRONICS (PHILS.), INC.</p><br></div> 
<div style="width:36%;float:right;right:1;align:right;"><img src="/images/right_banner.jpg"></div>
</div>
<div style="float:right;right:1;align:right;width:100%">
	<div style="width:20%;float:left"><br>
	Welcome, <b><%=@admin.first_name%></b>
	</div>
	<div style="float:right;right:1;align:right;">
  <div id="menu">
    <div>
      <%=link_to image_tag("/images/home.jpg"), admin_path %> <br/>
      Home
    </div>
    <div>
      <%=link_to image_tag("/images/user_icon.jpg"), ecnusers_path %> <br/>
      User Admin
    </div>
    <%= report_menu %>
    <div>
      <%=link_to image_tag("/images/add.png"), customer_infos_path %> <br/>
      Customer ID/TH PN
    </div>
    <div>
      <%=link_to image_tag("/images/off.jpg"), admin_logout_path %> <br/>
      Logout
    </div>
  </div>
	</div>
</div>
<div style="clear:both;"></div>
<div style="width:100%; background-color:darkgray;">
<div style="margin:20px;">
<%= link_to "Home", admin_path, :style => "color:white" %>
</div>
</div>
<div style="clear:both;"></div>